<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbao.wwm.dao.mapper.CategoryMapper">

	<!--新增产品-->
	<insert id="addProduct" parameterType="map">
		INSERT m_product(product_name,product_image,product_status,product_show,expiration_date,saving_mode,description,create_date,update_date,new_price,price,start_time,end_time)
 		VALUES(#{productName},#{productImage},1,1,#{expirationDate},#{savingMode},#{description},SYSDATE(),SYSDATE(),#{newPrice},#{price},#{startTime},#{endTime})
	</insert>

	<!-- 获取分类 -->
	<select id="getCategoryList" resultType="map">
		SELECT *,img_url as banner,p_height as height from m_category where is_show = 1 and is_category = 1 and is_channel = 1 ORDER BY show_index;
	</select>

	<!-- 获取当前分类 -->
	<select id="currentCategory" resultType="map">
		SELECT id,name,img_url,p_height from m_category where is_show = 1 and is_category = 1 and is_channel = 1 and id = #{categoryId};
	</select>
</mapper>