<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbao.wwm.dao.mapper.MainMapper">

	<!-- 查询展示设置 -->
	<select id="showSetting" resultType="map">
		select id,banner,channel,index_banner_img,notice from m_show_settings;
	</select>
	
	<!-- 获取通知 -->
	<select id="getNotice" resultType="map">
		SELECT * FROM m_notice;
	</select>

	<!-- 获取首页展示产品列表 -->
	<select id="getProduct" resultType="map">
		SELECT * FROM m_goods where is_index = 1;
	</select>

</mapper>