<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbao.wwm.dao.mapper.ProductMapper">

	<!--新增产品-->
	<insert id="count1" parameterType="Map">
		INSERT m_product(product_name,product_image,product_status,product_show,expiration_date,saving_mode,description,create_date,update_date,new_price,price,start_time,end_time)
 		VALUES(#{productName},#{productImage},1,1,#{expirationDate},#{savingMode},#{description},SYSDATE(),SYSDATE(),#{newPrice},#{price},#{startTime},#{endTime});
	</insert>

	<!--  获取分类页面产品数量 -->
	<select id="count" resultType="map" parameterType="map">
		SELECT COUNT(*) as count from m_goods where 1 = 1 <if test="categoryId != 0"> and category_id = #{categoryId} </if>;
	</select>

	<!--  通过分类ID获取产品列表 -->
	<select id="getProductByCategoryId" resultType="map" parameterType="map">
		SELECT name,id,goods_brief,min_retail_price,list_pic_url,goods_number from m_goods where 1 = 1 <if test="categoryId != 0"> AND category_id = #{categoryId}</if>  order by id limit #{currentPage},#{size};
	</select>

	<!-- 商品详情 -->
	<select id="productInfo" resultType="Map">
		SELECT * from m_goods where id = #{productId} and is_delete = 0 limit 1;
	</select>

	<!-- 详情列表 -->
	<select id="productList" resultType="Map">
		SELECT * FROM m_product WHERE  goods_id = #{productId}  AND  is_delete = 0 ;
	</select>

	<!-- 商品规格 -->
	<select id="specificationList" resultType="Map">
		SELECT * FROM m_goods_specification WHERE goods_id = #{productId} AND is_delete = 0;
	</select>

	<!-- 图片资源 -->
	<select id="imageResouce" resultType="Map">
		SELECT * FROM m_goods_gallery WHERE goods_id = #{productId} AND is_delete = 0  ORDER BY sort_order LIMIT 6;
	</select>

	<!-- 搜索产品列表 -->
	<select id="searchList" parameterType="String" resultType="Map">
		SELECT * FROM m_goods WHERE is_on_sale = 1 AND is_delete = 0 AND name LIKE <![CDATA[CONCAT(CONCAT('%',#{keyword}),'%')]]>
			<if test="sort == 'default'"> ORDER BY sort asc </if>
		 	<if test="sort == 'price'"> ORDER BY retail_price asc </if>
		 	<if test="sort == 'sales'"> ORDER BY sell_volume desc </if>
	</select>
</mapper>