<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbao.wwm.dao.mapper.UserMapper">

	<!--新增用户-->
	<insert id="insertUser" parameterType="Map">
		<selectKey keyProperty="id" order="AFTER" resultType="Integer">
			select LAST_INSERT_ID()
		</selectKey>
		INSERT m_user(uid,sessionkey,create_time,nickname,gender,avatar,country,province,city)
 		VALUES(#{openid},#{sessionkey},SYSDATE(),#{nickname},#{gender},#{avatarUrl},#{country},#{province},#{city});
	</insert>

	<!--查询用户-->
	<select id="searchUser" resultType="map" parameterType="Map">
		select count(id) as count,id from m_user where uid = #{openid} GROUP BY id;
	</select>

	<!-- 更新user -->
	<update id="updateUser" parameterType="Map">
		update m_user set `name` = #{name},mobile = #{mobile} where id = #{id};
	</update>

	<!-- 获取userInfo -->
	<select id="getUserDetail" parameterType="Object" resultType="Map">
		select `name` as name ,mobile from m_user where id = #{userId} limit 1;
	</select>

</mapper>